  <header>

      <section class="wrapper">

        <a title="Departamento Nacional de Planeación" 
            href="https://www.dnp.gov.co/" 
            target="_blank">
            <img height="90" 
                  src="https://www.sucop.gov.co/sitecollectionimages/sucop/sucop/DNP%20CON%20GOBIERNO%20DE%20COLOMBIA.png"
                   alt="departamentoNP">
        </a>
      </section>
    </header>

    <br><br><br>
     <div style="width: 100%; background-color: #bd0f0fae; height: 20px;"></div>
    {{{toastr}}} 


    <div id="cambio">
      <div style="color: black; margin-left: 1%; width: 98%;">  

        <div id="cambio" style="margin-left: 1%; width: 98%;">
  
          <div id="flexCenter">
            <div class="A" style="width: 100%; margin-left: 1%;" >
  
              <h1>COVENANT</h1>
                  <p>
                    <i>Por: Noah, Andrés, Juan, Jesús</i><br>
                  </p>
            
                  <div>
                    <p>Bienvenidos a la democracia</p> 
                  </div>  
  
            </div>
            <div class="B" style="text-align: left; margin-left: 5%; width: 40%; margin-top: 1.2%; background-color: rgba(125, 42, 42, 0.511);color:white;margin-right: 1%;">
  
              <h2>Bienvenidos sean!</h2>
              <br>
              <div id="alerta"></div>   

                <div style="margin-left: 10%; margin-bottom: 10%">
                  <!-- <div id="formio"></div> este es el del taller de heroku-->
                  <!--<div id="formLogin"></div> para cuando ya esté para despliegue en heroku-->
                  <div id="box">
    
                        <form method="post" action="/login">
                            <div style="font-size: 20px;margin: 10px;color: white;">Ingresar al Sistema</div>

                            <input required name="correo" type="email" class="input" placeholder="Correo"><br>
                            <input required name="contra" type="password" class="input" placeholder="Contraseña"><br>

                            <button style="font-family:'Arial" style="border:rgb(216, 219, 231)" type="submit" class="submitBtn" value="btnLogin">Iniciar Sesión</button>
          
                        
                        </form>
                        <a class="boton" href="/registro">Registrarse</a>
                  </div>
                </div>
  
            </div>
          </div>
  
          
    
        <main style="margin-left: 1%;">
          <article>
            <p style="width: 70%; text-align: justify;">
              <img id="hpd" height="300" src="https://visasencolombia.com/wp-content/uploads/2021/07/ventajas-de-vivir-en-colombia.jpg" alt="Me">
                               
                
            </p>
          </article>
          <br><br> <br><br>
          <img id="hp" height="50" src="https://www.javeriana.edu.co/recursosdb/813229/876340/bandera.png/4bb362d3-b6f8-1688-0643-d8de51e4dff8?t=1605136262043" alt="Jave">      
              Desarrollado por el equipo de
              Ingeniería en la Pontificia Universidad Javeriana. 
        </main>
        </div>
      </div>
    </div>