<script type="text/javascript">
  window.onload = function() {
    Formio.createForm(document.getElementById('formLogin'), 'https://gfwocygaraggwqm.form.io/covenantlogin');
  };
</script>
    <div id="cambio">
      <div style="color: black; margin-left: 1%; width: 98%;">  

        <div id="cambio" style="margin-left: 1%; width: 98%;">
  
          <div id="flexCenter">
            <div class="A" style="width: 100%; margin-left: 1%;" >
  
              <h1 class="tituloPagina">COVENANT</h1>
                  
    
            </div>
            <div class="B" style="text-align: left; margin-left: 5%; width: 40%; margin-top: 1.2%; background-color: rgba(125, 42, 42, 0.511);color:white;margin-right: 1%;">
  
              <h2 style="font-family:Georgia, 'Times New Roman', Times, serif; ">Bienvenidos</h2>
              <br>
    
                <div style="margin-left: 10%; margin-bottom: 10%">
                  <!-- <div id="formio"></div> este es el del taller de heroku-->
                  <!--<div id="formLogin"></div> para cuando ya esté para despliegue en heroku-->
                  <div class = "botones" id="box">
    
                        <form method="post">
                            <div style="font-size: 20px;margin: 10px;color: white;
                            font-family:Georgia, 'Times New Roman', Times, serif;">Login</div>

                            <input id="text" type="text" name="user_name"><br><br>
                            <input id="text" type="password" name="password"><br><br>

                            <input class="button" type="submit" value="Login"><br><br>
          
                           <a 
                           
                            class="boton" href="/registro" target="_blank">Registrarse</a>
                        </form>
                  </div>
                </div>
  
            </div>
          </div>
  
          
      <div class "main">
        <main  id="cambioI" style="margin-left: 1%;">
          <article>
            <p class="textop" style="width: 70%; text-align: justify;">
              <img id="hp" height="300" src="https://visasencolombia.com/wp-content/uploads/2021/07/ventajas-de-vivir-en-colombia.jpg" alt="Me">
                              "​​​​​El Departamento Nacional de Planeación - DNP es un Departamento Administrativo que pertenece a la Rama Ejecutiva del poder público y depende directamente de la Presidencia de la República. El DNP es una entidad eminentemente técnica que impulsa la implantación de una visión estratégica del país en los campos social, económico y ambiental, a través del diseño, la orientación y evaluación de las políticas públicas colombianas, el manejo y asignación de la inversión pública y la concreción de las mismas en planes, programas y proyectos del Gobierno."
                  <br><br><br>
            </p>
          </article>  
          <img id="hp" height="50" src="https://www.javeriana.edu.co/recursosdb/813229/876340/bandera.png/4bb362d3-b6f8-1688-0643-d8de51e4dff8?t=1605136262043" alt="Jave">      
          Desarrollado por el equipo de
              Ingeniería en la Pontificia Universidad Javeriana. 
        </main>
      </div>  
        <div id="formio"></div>
        <br><br>
  
        </div>
    
      </div>


    </div>

    

 <!--   

  <div id="cambio">

    <div id="seccionChat">
      <br><br><br>
      <iframe class="ifChat" src="/chat" frameborder="0"></iframe>
    </div>


  </div>

  -->