<script type="text/javascript">
  window.onload = function() {
    Formio.createForm(document.getElementById('formLogin'), 'https://gfwocygaraggwqm.form.io/covenantlogin');
  };
</script>
    <div id="cambio">
      <div style="color: black; margin-left: 1%; width: 98%;">  

        <div id="cambio" style="margin-left: 1%; width: 98%;">
  
          <div id="flexCenter">
            <div class="A" style="width: 100%; margin-left: 1%;" >
  
              <h1>COVENANT</h1>
                  <p>
                    <i>Por: Noah, Andrés, Juan, Jesús</i><br>
                  </p>
            
                  <div>
                    <p>Bienvenidos a la democracia</p> 
                  </div>
    
            <pre>
  █▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀█
  █░░╦─╦╔╗╦─╔╗╔╗╔╦╗╔╗░░█
  █░░║║║╠─║─║─║║║║║╠─░░█
  █░░╚╩╝╚╝╚╝╚╝╚╝╩─╩╚╝░░█
  █▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄█
            </pre>
  
  
  
            </div>
            <div class="B" style="text-align: left; margin-left: 5%; width: 40%; margin-top: 1.2%; background-color: rgba(125, 42, 42, 0.511);color:white;margin-right: 1%;">
  
              <h2>Bienvenidos sean!</h2>
              <br>
    
                <div style="margin-left: 10%; margin-bottom: 10%">
                  <!-- <div id="formio"></div> este es el del taller de heroku-->
                  <!--<div id="formLogin"></div> para cuando ya esté para despliegue en heroku-->
                  <div id="box">
    
                        <form method="post">
                            <div style="font-size: 20px;margin: 10px;color: white;">Login</div>

                            <input id="text" type="text" name="user_name"><br><br>
                            <input id="text" type="password" name="password"><br><br>

                            <input id="button" type="submit" value="Login"><br><br>
          
                           <a class="boton" href="/registro">Registrarse</a>
                        </form>
                  </div>
                </div>
  
            </div>
          </div>
  
          
    
        <main id="cambioI" style="margin-left: 1%;">
          <article>
            <p style="width: 70%; text-align: justify;">
              <img id="hp" height="300" src="https://visasencolombia.com/wp-content/uploads/2021/07/ventajas-de-vivir-en-colombia.jpg" alt="Me">
                              Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                  molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
                  numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
                  optio, eaque rerum! Provident similique accusantium nemo autem. Veritatis
                  obcaecati tenetur iure eius earum ut molestias architecto voluptate aliquam
                  nihil, eveniet aliquid culpa officia aut! Impedit sit sunt quaerat, odit,
                  tenetur error, harum nesciunt ipsum debitis quas aliquid. Reprehenderit,
                  quia. Quo neque error repudiandae fuga? Ipsa laudantium molestias eos 
                  sapiente officiis modi at sunt excepturi expedita sint? Sed quibusdam
                  recusandae alias error harum maxime adipisci amet laborum. 
                  <br><br><br>
            </p>
          </article>  
          <img id="hp" height="50" src="https://www.javeriana.edu.co/recursosdb/813229/876340/bandera.png/4bb362d3-b6f8-1688-0643-d8de51e4dff8?t=1605136262043" alt="Jave">      
          Desarrollado por el equipo de
              Ingeniería en la Pontificia Universidad Javeriana. 
        </main>
        <div id="formio"></div>
        <br><br>
  
        </div>
    
      </div>


    </div>

    

 <!--   

  <div id="cambio">

    <div id="seccionChat">
      <br><br><br>
      <iframe class="ifChat" src="/chat" frameborder="0"></iframe>
    </div>


  </div>

  -->