<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="author" content="Jesús Fuentes">
    <meta name="keywords" content="aprendiz,programación">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Last-Modified" content="0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">

    <link rel="stylesheet" href="/estilos/body.css">
    
  </head>


   <div class="formPropuesta"> 
        <form action="/my-handling-form-page" method="post">
  <ul>
    <li>
      <label for="name">Nombre:</label>
      <input type="text" id="name" name="user_name">
    </li>
    <li>
      <label for="mail">Nombre de propuesta:</label>
      <input type="email" id="mail" name="user_mail">
    </li>
    <li>

    <label for="lang">sector o segmento</label>
     <select>
    <option>Educativo</option>
    <option>Rural</option>
    <option>Financiero</option>
    <option>Social</option>
    <option>Ambiental</option>
 </select>
    </li>
  </ul>
  </form>
  </div>
   

   
  </body>
 

</html>