<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="author" content="Jesús Fuentes">
    <meta name="keywords" content="aprendiz,programación">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Last-Modified" content="0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <title>Covenant</title>
    
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Sonsie+One"
      rel="stylesheet" />
  </head>

  <body>
    <div id="cambio">

      <h2>Datos Biográficos</h2>
        <div>
            <p>Aquí presento mi Información más superficial</p> 
        </div>
        
        <pre>

    ▒▒▄▀▀▀▀▀▄▒▒▒▒▒▄▄▄▄▄▒▒▒
    ▒▐░▄░░░▄░▌▒▒▄█▄█▄█▄█▄▒
    ▒▐░▀▀░▀▀░▌▒▒▒▒▒░░░▒▒▒▒
    ▒▒▀▄░═░▄▀▒▒▒▒▒▒░░░▒▒▒▒
    ▒▒▐░▀▄▀░▌▒▒▒▒▒▒░░░▒▒▒▒
        </pre>
    
    <main>
      <div style="width: 100%;">
        <TABLE BORDER style="margin-left: 23%;">
          <caption>Del tiempo a la Fecha</caption>
            <TR><TH>ATRIBUTO </TH>
            <TD>VALOR</TD> </TR>
            <TR><TH>Nacimiento </TH>
              <TD>27 de Noviembre de 2002</TD> </TR>
            <TR><TH>Estatura</TH>
              <TD>1,75</TD> </TR>
            <TR><TH>Ciudad Origen</TH>
              <TD>Bogotá</TD> </TR>
            <TR><TH>C.C.</TH>
              <TD>1000698296</TD> </TR>
            <TR><TH>Ocupación</TH>
              <TD>Estudiante</TD> </TR>
            <TR><TH>Dirección</TH>
              <TD>Cra 48 #150 A63</TD> </TR>
            <TR><TH>Teléfono</TH>
              <TD>+57 312 341 5728</TD> </TR>
            <TR><TH>RH</TH>
              <TD>A-</TD> </TR>
            <TR><TH>Estado</TH>
              <TD>Soltero</TD> </TR>
          </TABLE>

      </div>
        
    </main>   



    </div>

    
  </body>
</html>