<header>

      <section class="wrapper">

        <a title="Departamento Nacional de Planeación" 
            href="https://www.dnp.gov.co/" 
            target="_blank">
            <img height="90" 
                  src="https://www.sucop.gov.co/sitecollectionimages/sucop/sucop/DNP%20CON%20GOBIERNO%20DE%20COLOMBIA.png"
                   alt="departamentoNP">
        </a>

        <nav class="navp">
          <ul>
            <li><a href="/home">Cerrar Sesion</a></li>
            <li><a href="/datos">Propuestas</a></li>
            <li><a href="/trayer">Enviar Correo</a></li>
            <li><a href="/chat">Foro</a></li>
          </ul>
        </nav>
      </section>
    </header>

    <br><br><br>
     <div style="width: 100%; background-color: #bd0f0fae; height: 20px;"></div>


    <div id="cambio">

      <h2>Datos Biográficos</h2>
        <div>
            <p>Aquí presento mi Información más superficial</p> 
        </div>
        
        <pre>

    ▒▒▄▀▀▀▀▀▄▒▒▒▒▒▄▄▄▄▄▒▒▒
    ▒▐░▄░░░▄░▌▒▒▄█▄█▄█▄█▄▒
    ▒▐░▀▀░▀▀░▌▒▒▒▒▒░░░▒▒▒▒
    ▒▒▀▄░═░▄▀▒▒▒▒▒▒░░░▒▒▒▒
    ▒▒▐░▀▄▀░▌▒▒▒▒▒▒░░░▒▒▒▒
        </pre>
    
    <main>
      <div style="width: 100%;">
        <TABLE BORDER style="margin-left: 23%;">
          <caption>Del tiempo a la Fecha</caption>
            <TR><TH>ATRIBUTO </TH>
            <TD>VALOR</TD> </TR>
            <TR><TH>Nacimiento </TH>
              <TD>27 de Noviembre de 2002</TD> </TR>
            <TR><TH>Estatura</TH>
              <TD>1,75</TD> </TR>
            <TR><TH>Ciudad Origen</TH>
              <TD>Bogotá</TD> </TR>
            <TR><TH>C.C.</TH>
              <TD>1000698296</TD> </TR>
            <TR><TH>Ocupación</TH>
              <TD>Estudiante</TD> </TR>
            <TR><TH>Dirección</TH>
              <TD>Cra 48 #150 A63</TD> </TR>
            <TR><TH>Teléfono</TH>
              <TD>+57 312 341 5728</TD> </TR>
            <TR><TH>RH</TH>
              <TD>A-</TD> </TR>
            <TR><TH>Estado</TH>
              <TD>Soltero</TD> </TR>
          </TABLE>

      </div>
        
    </main>   



    </div>

    
 