<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="author" content="Jesús Fuentes">
    <meta name="keywords" content="aprendiz,programación">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Last-Modified" content="0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">

    <title>JesusExperiencia</title>
    
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Sonsie+One"
      rel="stylesheet" />
    <link rel="stylesheet" href="/estilos/body.css" />
  </head>

  <body>
    

    <br><br><br><br>

    <div id="cambio">

      <h2>Trayectoria Profesional</h2>
    <div>
        <p>Aquí presento mi formación y potencial profesional.</p> 
    </div>
    

    <div>
        <b>Contenido:</b>
        <nav class="navbar">
          <ul>
            <li> <a href="#educacion">Educación </a>

              <ol>
                <li>  <a href="#cervantes"> Liceo de Cervantes</a>  </li>
                <li>  <a href="#javeriana"> Pontificia Universidad Javeriana</a> </li>
              </ol>

            </li>
            <li>  <a href="#produccion">Producción Intelectual </a>
              <ol>
                <li>  <a href="#proyectos"> Proyectos</a> </li>
                <li>  <a href="#pasantias"> Pasantias</a> </li>
              </ol>
            </li>

            <li>  <a href="#actual">Estado Actual </a>
              <ol>
                <li><a href="#resumen"> Resumen</a></li>
                <li><a href="#competencias"> Competencias</a></li>
              </ol>
            </li>

        </ul>


        </nav>
        
<!------------------------------------------------------------------------------>

    </div>
    <div>
      <div id="educacion"></div>
      <br><br><br>
      <div class="subseccion">
        <h2>Educación</h2>
        <pre>
          Mi recorrido está marcado por dos instituciones educativas reconocidas<br>         por su dedicadión en la formación de personas que sirven a la sociedad
        </pre>
        <ol>
          <li><span>
            <h3 id="cervantes">
              Liceo de Cervantes
            </h3>
            <dl>
              <ul>
                <li><span>Bogotá: Bachiller Académico
                  </span>
                </li>
                <dd>Graduado con una media de 4,3 sobre 5 y competencias
                  potenciadas bajo los principios morales de la institución
                  certificada por la EFQM y el modelo de preparación de
                  Cambridge.
                </dd> 
              </ul> 
            </dl>
            </span>
          </li>
          <li><span>
            <h3 id="javeriana">
              Pontificia Universidad Javeriana
            </h3>
            <dl>
              <ul>
                <li><span>Bogotá: Pregrado en Ingeniería de Sistemas</span>
                </li>
                <dd>Estudiante de la Facultad de Ingeniería con promedio
                  general de 4.2, en el programa de ocho semestres acreditado
                  por ABET.
                </dd> 
              </ul>             
            </dl>
          </span>
          </li>

          
        </ol>

      </div>

      <div id="produccion"></div>
      <br><br><br>
      <div class="subseccion">

        <h2>Producción Intelectual</h2>
        <pre>
          Algunos de los desarrollos en terminos de Tecnologías<br>         de la Información en los que he contribuido o me he enfocado
        </pre>
        <ol>
          <li><span>
            <h3 id="proyectos">
              Proyectos
            </h3>
            <dl>
                <ul>
                  <li><span>Despacho de Productos para Bodegas en Bogotá.</span>
                  </li>
                  <pre>
                    Implementación en Java de un menú amigable con el Usuario 
                    para administrar el Negocio. La velocidad de cada operación
                    mejora en un 80% respondiendo a las solicitudes de los clientes
                    sobre el progreso de sus pedidos.
                  </pre>
                  <li><span>Desarrollo de HTTP Proxy Server en Java para control de Acceso a sitios WEB.
                  </span>
                  </li>
                  <pre>
                    Creación completa del sistema multiplataforma. Uso de hilos
                    y sockets para la generación de solicitudes en evaluación
                    óptima, disminuyendo en un 20% fallos en seguridad
                    identificados, además de la latencia de red.
                  </pre> 
                </ul> 

            </dl>
          </span>
          </li>
          <li><span>
            <h3 id="pasantias">
              Pasantias
            </h3>
            <dl>
              <ul>
                <li><span>Auditoria en Sistemas en Murcia Construcciones S.A.S</span>
                </li>
                
              </ul>
              <pre>
                Desempeño el rol de Investigador para la identificación 
                de oportunidades dentro del modelo de negocio y el área de T.I
              </pre>             
            </dl>
          </span>
          </li>

          
        </ol>

      </div>

      <div id="actual"></div>
      <br><br><br>
      <div class="subseccion">
        <h2>Estado Actual</h2>
        <pre>
          A Octubre del 2022.
        </pre>
        <ol>
          <li>
          <span>
            <h3 id="resumen">
              Resumen
            </h3>
            <dl>
              <ul>
                <li><span>Desarrolladores Junior</span></li>
                <dd>
                  kskkda
                  dkakdsa
                  dksakd
                  
                  </dd>
              </ul>
              
            </dl>
          </span>
          </li>
          <li>
          <span>
            <h3 id="competencias">
              Competencias
            </h3>
            <div style="width: 100%;">
              <TABLE BORDER style="margin-left: 23%;">
                <TR><TH>TECNOLOGÍA </TH>
                  <TD>NIVEL</TD> </TR>
                <TR><TH>C++ </TH>
                  <TD>⭐⭐⭐⭐⭐</TD> </TR>
                <TR><TH>Python</TH>
                  <TD>⭐⭐⭐⭐</TD> </TR>
                <TR><TH>SQL</TH>
                  <TD>⭐⭐⭐⭐</TD> </TR>
                <TR><TH>Oracle DB</TH>
                  <TD>⭐⭐⭐⭐</TD> </TR>
                <TR><TH>NoSQL</TH>
                  <TD>⭐⭐⭐⭐</TD> </TR>
                <TR><TH>UNIX Scripting</TH>
                  <TD>⭐⭐⭐</TD> </TR>
                <TR><TH>Java</TH>
                  <TD>⭐⭐⭐⭐⭐</TD> </TR>
                <TR><TH>HTML</TH>
                  <TD>⭐⭐⭐</TD> </TR>
                <TR><TH>JavaScript</TH>
                  <TD>⭐⭐⭐</TD> </TR>
              </TABLE>
            
            </div>
          </span>
          </li>
        </ol>


      </div>

    </div>        

    </div>   
  </body>
</html>