<!DOCTYPE html>
<html lang="es">

    <style>

@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');


body{
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    background: white;
    text-align: justify;
    background-image: url("https://img.freepik.com/fotos-premium/bandera-estado-nacional-colombia-ondeando_337817-423.jpg?w=2000");
    background-repeat: repeat-y;
    background-size: 90rem;
    color: black;
}

p {
    margin-bottom: 20px;
  }

#flexCenter {
    display: flex;
    width: 100%;
}

.ifDatos{
    width: 100% !important;
    height: 800px;
}
.ifExp{
    width: 100% !important;
    height: 3085px;
}
.ifExtra{
    width: 100% !important;
    height: 790px;
}
.ifChat{
  width: 100% !important;
  height: 950px;
}

.wrapper {
    width: 100%;
    margin: auto;
    overflow:hidden;
  }
  header {
    background: #060606;
    opacity: 0.85;
    width: 99%;
    position: fixed;
    z-index: 10;
  }
  
  .navp {
    float: right;
    margin-right: 1%;
  }
  .navp ul {
    list-style: none;
    overflow: hidden;
  }
  .navp ul li {
    float: left;
    font-size: 15px;
  }
  .navp ul li a {
    display: block;
    border-style:outset;
    padding: 15px;
    color: #fff;
    text-decoration: none;
  }
  .navp ul li:hover {
    background: #bd0f0fae;
  }

  table, th, td{
    border: 1px solid #bd0f0fae;
    width: 50%;
  }

  table{
    width: 55%;
  }

  table caption{
    font-size: 19px;
    font-weight: bold;
    padding: 20px;
  }

  table tbody tr:nth-child(even){
    background-color: #bd0f0fae;
  }

  table tbody tr:nth-child(odd){
    background-color: white;
  }

  table tbody tr:nth-child(1) {
    background-color: #060606;
    font-weight: bold;
    color: white;
  }

 h2 {
  text-align: center;
    border-bottom: 2px solid #bd0f0fae;
    }

 h1 {
        border-bottom: 2px solid #bd0f0fae;
    }

#hp{
  float:left;
  margin: 0px 15px 0px 0;
  border-radius: 5%;
  border: thin solid black;
  box-shadow: 2px 2px 5px #bd0f0fae;
  
}

.subseccion{
  margin-top: 5px;
  border: thin solid black;
  background: linear-gradient(to bottom, #0a6006, white);
}

li{
  color: white;
}

li span{
  color: black;
}
 

.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 800px;
  right: 28px;
  width: 280px;
}

.chat-popup {
  display: none;
  position: fixed;
  bottom: 265px;
  right: 25px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

.form-container textarea {
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

.form-container .btn {
  background-color: #bd0f0fae;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.form-container .cancel {
  background-color: rgba(174, 9, 9, 0.742);
}

.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

button{
  font-family: 'Oswald', sans-serif;
}

.error {
  font-size: 0.8em;
  color: rgb(221, 2, 2);
  display: none;
}

.comentBox{
  background: #bd0f0fae;
}

.boton{
  font-family: 'Oswald', sans-serif;
  color:rgb(221, 2, 2)
}

    </style>

  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name="viewport" content="width=device-width , initial-scale=1" />
    <meta name="author" content="Jesús Fuentes">
    <meta name="keywords" content="aprendiz,programación">
    <!---- <meta name="robots" content="index">--->
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Last-Modified" content="0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <title>Covenant</title>

    <link rel="stylesheet" href="https://cdn.form.io/formiojs/formio.full.min.css">
    <script src="https://cdn.form.io/formiojs/formio.full.min.js"></script>

    <script type="text/javascript">
        window.onload = function() {
          Formio.createForm(document.getElementById('formio'), 'https://gfwocygaraggwqm.form.io/universitario');
        };
      </script>
   
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Sonsie+One"
      rel="stylesheet" />
  </head>

  <body id="inicio">
 <div style="width: 100%; background-color: #bd0f0fae; height: 20px;"></div>


    {{{body}}}
  

    <footer style="text-align: center;">
      <p>©Copyright 2022 by CS. All rights reversed.</p>
    </footer>

  </body>
</html>