
<div style="
width:90%;
height:auto;
padding:5px;
filter:alpha(opacity=70);
background: transparent;
" class="formularioRegistro">
    <form action="" class="registro">
      <h1 class="tituloRegistrar" 
      >Registrarse</h1>


      <div class="inputContainer">
      
        <div style="border:rgb(216, 219, 231)" class="inputContainer">
          <input type="text" clas="input" placeholder="Nombre">
        </div>

        <div style="border:rgb(216, 219, 231)" class="inputContainer">
          <input type="text" class="input" placeholder="Cedula">
        </div>

        <div class="inputContainer">
          <input type="text" class="input" placeholder="Correo">
        </div>

        <div style="border:rgb(216, 219, 231)"  class="inputContainer">
          <input type="text" class="input" placeholder="Contraseña">
        </div>

        <input style="font-family:'Arial" style="border:rgb(216, 219, 231)" type="submit" class="submitBtn" value="Registrarse">
      </form>
    </div>